@{
    ViewBag.Title = "Home Page";
}

<div class="wrapper col2">
    <div id="featured_slide">
        <div id="featured_content">
            <ul>
                <li>
                    <img src="images/demo/1.gif" alt="" />
                    <div class="floater">
                        <h2>Donde nos encontramos ?</h2>
                        <p>
                            Lamarque es una ciudad del departamento de Avellaneda, en la provincia de Río Negro, Argentina.

                            Se encuentra al sudeste de la Isla Grande de Choele Choel dentro del Valle Medio del río Negro. Es un oasis agrícola regado con las aguas de dicho río, que forma en la zona un conjunto de islas.Lugar donde podra disfrutar de nuestra fiesta nacional del tomate.<a href="http://www.os-templates.com/"></a><a href="http://www.os-templates.com/template-terms"></a><a href="http://www.os-templates.com/"></a>
                        </p>
                        <p class="readmore"><a href="pages/ComoLlegar.html">Continuar leyendo &raquo;</a></p>
                    </div>
                </li>
                <li>
                    <img src="images/demo/2.gif" alt="" />
                    <div class="floater">
                        <h2>Fiesta Nacional del Tomate y la Produccion</h2>
                        <p>"LA FIESTA DE TODOS" evento entre amigos y familias en un lugar agradable y lleno de diversion para grandes y chicos. Y para los jovenes (o adultos) que se quieran divertir en la noche, fiestas nocturnas y mucho mas.&hellip;</p>
                        <p class="readmore"><a href="pages/Historia.html">Continuar leyendo" &raquo;</a></p>
                    </div>
                </li>
                <li>
                    <img src="images/demo/3.gif" alt="" />
                    <div class="floater">
                        <h2>Museo paleontologico</h2>
                        <p>El Museo Paleontológico “Héctor Cabaza” de Lamarque, se ha convertido en uno de los espacios comunitarios más visitados de la Patagonia. Su equipo de entusiastas, profesionales y científicos han descubierto los restos de dinosaurios más grandes y únicos en el mundo.&hellip;</p>
                        <p class="readmore"><a href="pages/Historia.html">Continuar leyendo &raquo;</a></p>
                    </div>
                </li>
            </ul>
        </div>
        <a href="javascript:void(0);" id="featured-item-prev"><img src="layout/images/prev.png" alt="" /></a> <a href="javascript:void(0);" id="featured-item-next"><img src="layout/images/next.png" alt="" /></a>
    </div>
</div>

<div class="wrapper col3">
    <div id="container">
        <div class="homepage">
            <ul>
                <li>
                    <h2><img src="images/demo/imgc.gif" alt="" width="60" height="60" />47ª Peregrinación A Ceferino Namuncurá</h2>
                    <p>Chimpay.- La ciudad de Chimpay ya se prepara para una nueva fiesta del Beato Ceferino Namuncura, en un año muy especial, dado que se cumplen diez años de la beatificación.</p>
                    <p>Para mayor información, comunicarse con la Organización de la Peregrinación a Ceferino Namuncurá a los teléfonos (02946) 494502 / 494396 / 494223.</p>
                </li>
                <li>
                    <h2><img src="images/demo/imgc2.gif" alt="" width="60" height="60" />Eleccion de la Reina</h2>
                    <p>Reina seleccionada entre varias participantes para representar a Lamarque en diferentes eventos importantes.</p>
                    <p class="readmore"><a href="pages/Historia.html">Mas sobre este evento &raquo;</a></p>
                </li>
                <li class="last">
                    <h2><img src="images/demo/imgc3.gif" alt="" width="60" height="60" />Clima en Lamarque actualizado</h2>
                    <p>Redireccionamiento a pagina web la cual le permitira ver el clima de los proximos dias con lo cual podra planificar su estadia.</p>
                    <p class="readmore"><a href="https://weather.com/es-AR/tiempo/10dias/l/ARRN8363:1:AR">Ver clima actualizado &raquo;</a></p>
                </li>
            </ul>
            <br class="clear" />
        </div>
    </div>
</div>