
@{
    ViewBag.Title = "Historia";
}

<style>
    .img {
        padding: 5px;
        float: right;
        margin: 0px 0px 10px 10px;
    }
    p{
        margin: 10px 0px 0px 0px;
    }
</style>
<section>
    <article class="histotext">
        <div class="fondo-historia">
            <h2 class="titulo">Historia</h2>
        </div>
        <br />
        <img src="~/Content/Imagenes/Historia/imgr.gif" alt="" width="200" height="125" class="img-responsive img-rounded img" />
        <p>
            El 9 de mayo de 1900, el Poder Ejecutivo Nacional creó por decreto una nueva población en el sureste de la isla de Choele Choel. En 1901 se encomendó al ingeniero Eliseo Schieroni la mensura y subdivisión de la isla en lotes rurales de 100 hectáreas, reservando cuatro para pueblo, según ley 817, de 1.876. Finalmente se eligieron las parcelas del actual emplazamiento y recibió el nombre de Pueblo Nuevo de la Colonia Choele Choel.
            A fines de 1930 se comienza una construcción con la intención de poner en funcionamiento las oficinas de la Gobernación del Territorio Nacional del Río Negro, ya que Viedma había sido arrasada por una inundación en 1899 y estaba en duda que siguiera como ciudad capital.
            Confusiones en los envíos de correspondencia dirigida a Choele Choel, motivaron el cambio de denominación. Se le impuso así el nombre de Lamarque, en homenaje al ex juez letrado del territorio de Río Negro, doctor Facundo Lamarque, designación que fue ratificada por decreto Nº 125.126/1 del 20 de julio de 1942. El Doctor Lamarque se había hecho cargo de la nueva sede del Juzgado de Choele Choel tras la mencionada inundación que destruyó Viedma.
        </p>
        <br />
        <div class="fondo-museo">
            <h2 class="titulo">Museo paleontologico</h2>
        </div>
        <br />
        <img src="~/Content/Imagenes/Historia/imgl.gif" alt="" width="200" height="125" class="img-responsive img-rounded img" />
        <p>
            El Museo de Lamarque es muy importante a nivel paleontológico, su grupo de trabajadores ha realizado hallazgos muy importantes y una de sus piezas es expuesta en un museo de Alemania.
            El Museo de Lamarque comienza con un proyecto de un grupo de vecinos, hace más de 20 años. La intención era la de generar un espacio abierto a la comunidad.
            En la actualidad el museo cuenta con una importante colección de fósiles y está participando con uno de sus ejemplares en la Mega Exposición “Dinosaurios – Gigantes de Argentina” en el Museo Lokschuppen de la Ciudad de Rosenheim en Alemania.
            Especies Únicas en el Mundo
            El equipo del Museo ha realizado hallazgos de especies desconocidas, gracias a esto comenzó a tener trascendencia pública. Estos fósiles empiezan a ser investigados por un equipo especializado del Museo de La Plata que los describe y los ubica en contexto de la paleontología argentina y mundial.
            La Patagonia es un territorio en e que se han realizado varios hallazgos paleontológicos que se pueden ver en museos de la región, confirmando así, la diversidad y el valor de los yacimientos.
            El recorrido por los museos es un atractivo para los turistas ya que brinda la posibilidad de conocer las riquezas de la Patagonia.
            En este sentido el museo se encarga de brindar excursiones que comprenden las localidades de Lamarque y el poblado de Santa Rosa en la Provincia de Río Negro.
        </p>
    </article>
</section>