
@{
    ViewBag.Title = "Mapa";
}

<style>
    #map {
        height: 700px;
        width: 100%;
    }
</style>
<!--<div class="img-responsive fondo-mapa">
    <h1 class="titulo">Mapa</h1>
</div>-->
<br />
<div id="map"></div>
<script>

        function initMap() {

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: { lat: -39.424079, lng: -65.7014 }
            });

            // Create an array of alphabetical characters used to label the markers.
            var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

            // Add some markers to the map.
            // Note: The code uses the JavaScript Array.prototype.map() method to
            // create an array of markers based on a given "locations" array.
            // The map() method here has nothing to do with the Google Maps API.
            var markers = locations.map(function (location, i) {
                return new google.maps.Marker({
                    position: location,
                    label: labels[i % labels.length]
                });
            });

            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers,
                { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
        }
    var locations = [
            { lat: -39.420522, lng: -65.706546 },
            { lat: -39.423945, lng: -65.703435 },
            { lat: -39.419237, lng: -65.696622 },
            { lat: -39.424699, lng: -65.702866 },
            { lat: -39.424757, lng: -65.703456 },
            { lat: -39.424173, lng: -65.702287 },
            { lat: -39.424446, lng: -65.704012 },
            { lat: -39.422225, lng: -65.701359 },
            { lat: -39.421608, lng: -65.700318 },
            { lat: -39.413991, lng: -65.691772 },
            { lat: -39.423141, lng: -65.705755 },
            { lat: -39.423721, lng: -65.704867 },
            { lat: -39.423576, lng: -65.705235 },
        ]
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_4_FdDOE6Niz_tKZ_tkeghRuf9EfWvd8&callback=initMap"></script>



