
@{
    ViewBag.Title = "Panel de control";
}

<h2><i class="glyphicon glyphicon-wrench"></i> Panel de control</h2>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Calendario
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="~/eventos_bd/Index">Lista</a></li>
                        <li><a href="~/eventos_bd/Create">Agregar</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Servicios
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="~/servicios_bd/Index">Lista</a></li>
                        <li><a href="~/servicios_bd/Create">Agregar</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    Telefonos utiles
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="~/telefonos_bd/Index">Lista</a></li>
                        <li><a href="~/telefonos_bd/Create">Agregar</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    Mensajes
                </a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="~/contacto_bd/Index">Lista</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                    Usuarios
                </a>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="~/Usuarios/Index">Lista</a></li>
                        <li><a href="~/Usuarios/Create">Agregar</a></li>
                        <li><a href="#">Permisos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

