@{
    ViewBag.Title = "Mapa";
}

<style>
    #map {
        height: 500px;
        width: 100%;
    }
</style>

<div id="map"></div>
<hr />

<script src="~/Scripts/mapa.js"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_4_FdDOE6Niz_tKZ_tkeghRuf9EfWvd8&callback=initMap"></script>

