
@{
    ViewBag.Title = "Enviado";
}


<div class="img-responsive fondo-contacto">
    <h1 class="titulo">Contacto</h1>
</div>
<br />
<h4>El mensaje fue enviado y sera revisado, gracias!</h4>

@Html.ActionLink("Volver al inico", "Index", "Home")
