
@{
    ViewBag.Title = "Historia";
}

<main>
    <article>
        <h1>Historia</h1>
        <img src="~/Content/Imagenes/historia/imgr.gif" alt="" width="125" height="125" />
        <p>
            El 9 de mayo de 1900, el Poder Ejecutivo Nacional creó por decreto una nueva población en el sureste de la isla de Choele Choel. En 1901 se encomendó al ingeniero Eliseo Schieroni la mensura y subdivisión de la isla en lotes rurales de 100 hectáreas, reservando cuatro para pueblo, según ley 817, de 1.876. Finalmente se eligieron las parcelas del actual emplazamiento y recibió el nombre de Pueblo Nuevo de la Colonia Choele Choel.
            A fines de 1930 se comienza una construcción con la intención de poner en funcionamiento las oficinas de la Gobernación del Territorio Nacional del Río Negro, ya que Viedma había sido arrasada por una inundación en 1899 y estaba en duda que siguiera como ciudad capital.
            Confusiones en los envíos de correspondencia dirigida a Choele Choel, motivaron el cambio de denominación. Se le impuso así el nombre de Lamarque, en homenaje al ex juez letrado del territorio de Río Negro, doctor Facundo Lamarque, designación que fue ratificada por decreto Nº 125.126/1 del 20 de julio de 1942. El Doctor Lamarque se había hecho cargo de la nueva sede del Juzgado de Choele Choel tras la mencionada inundación que destruyó Viedma.
        </p>
        <br />

        <h1>Museo paleontologico</h1>
        <img src="~/Content/Imagenes/historia/imgl.gif" alt="" width="125" height="125" />
        <p>
            El Museo de Lamarque es muy importante a nivel paleontológico, su grupo de trabajadores ha realizado hallazgos muy importantes y una de sus piezas es expuesta en un museo de Alemania.
            El Museo de Lamarque comienza con un proyecto de un grupo de vecinos, hace más de 20 años. La intención era la de generar un espacio abierto a la comunidad.
            En la actualidad el museo cuenta con una importante colección de fósiles y está participando con uno de sus ejemplares en la Mega Exposición “Dinosaurios – Gigantes de Argentina” en el Museo Lokschuppen de la Ciudad de Rosenheim en Alemania.
            Especies Únicas en el Mundo
            El equipo del Museo ha realizado hallazgos de especies desconocidas, gracias a esto comenzó a tener trascendencia pública. Estos fósiles empiezan a ser investigados por un equipo especializado del Museo de La Plata que los describe y los ubica en contexto de la paleontología argentina y mundial.
            La Patagonia es un territorio en e que se han realizado varios hallazgos paleontológicos que se pueden ver en museos de la región, confirmando así, la diversidad y el valor de los yacimientos.
            El recorrido por los museos es un atractivo para los turistas ya que brinda la posibilidad de conocer las riquezas de la Patagonia.
            En este sentido el museo se encarga de brindar excursiones que comprenden las localidades de Lamarque y el poblado de Santa Rosa en la Provincia de Río Negro.
        </p>
        <br />

        <h1>La "Tomatina"</h1>
        <img src="~/Content/Imagenes/historia/imgr2.gif" alt="" width="125" height="125" />
        <p>
            Desde 1972, con períodos interrumpidos, la ciudad de Lamarque realiza la Fiesta Nacional del Tomate y la Producción que rinde homenaje al productor de ese cultivo, actividad económica predominante de la localidad. Además, es considerada la fiesta más grande que tiene el Valle Medio y se desarrolla en el mes de marzo.En un principio, este evento fue declarado por decreto provincial como Fiesta Provincial, pero a partir de 1994 se incorporó definitivamente al listado de Fiestas Nacionales y hoy es considerada como una de las de mayores convocatorias de la provincia.
            Durante los tres días de la fiesta los asistentes pueden disfrutar de actividades muy variadas, entre las que se destaca la tradicional “tomatina”. La misma consiste en una guerra de tomates que convoca a cientos de participantes de todas las edades.También se realizan concursos de salseada y de embaladores, se puede pasear por la feria de artesanos y apreciar los espectáculos musicales, la elección de la reina y los fuegos artificiales.
            Cada edición cuenta, además, con la presencia de destacados artistas reconocidos a nivel nacional y regional para el deleite y disfrute de los presentes.
        </p>
        <br />

        <h1>Festival Internacional de la Torta Frita</h1>
        <img src="~/Content/Imagenes/historia/imgl3.gif" alt="" width="125" height="125" />
        <p>
            La localidad de Lamarque es conocida en la Patagonia por ser la capital del tomate, fruto al que le rinde homenaje mediante la Fiesta Nacional del Tomate y la Producción. Pero desde hace un par de años, también se está realizando un evento de sumo interés, se trata del Festival Internacional de la Torta Frita.Con los objetivos de lograr una mejor vinculación entre los habitantes de diversas etnias de los barrios de Lamarque; estimular la creatividad, la tradición familiar, étnica y popular; y poder lograr el intercambio entre productores y consumidores nació esta festividad popular en la localidad.
            La intención es poder mostrar la tarea desarrollada por los Centros de Expresión y Participación Comunitarias y a la vez que residentes y turistas puedan conocer las diferentes costumbres en la elaboración de la torta frita de acuerdo con la región de la que provengan los cocineros.
            Por esto, además del Concurso en sí mismo, los visitantes del Festival podrán recorrer los diferentes stands donde se exponen y muestran los productos y, por supuesto, degustarlos. Todos los interesados pueden montar sus puestos de forma libre y gratuita (fuera del concurso) siempre que sean muestras relacionadas con aquellas  temáticas que hacen a la realización de  objetos o productos de elaboración artesanal, particular o meramente de venta.
            El Centro de Expresiòn y Participaciòn Comunitaria (Ce.Par.C.) Barrio Belgrano entregará a los participantes, en nombre de la municipalidad local, los insumos para la elaboración:
            Un (1) kilo de harina de trigo tipo 0000
            Cien (100) gramos de levadura virgen
            Un (1) kilo de grasa de primer jugo bovino
            Los cocineros serán quienes aporten el “ingrediente secreto” que los distinga del resto de los competidores, y además deberán vestir chaquetas o delantal y gorro adecuados a la labor, así como guantes del tipo descartables a utilizar en oportunidad del servicio de evaluación y degustación.
            El evento es una oportunidad única para disfrutar en familia y con amigos de una buena tarde, degustando las mejores tortas fritas acompañadas de unos buenos mates. No se lo puede perder, agenda la fecha de la próxima edición.
        </p>
        <br />
    </article>
</main>
    
