@{
    ViewBag.Title = "Home";
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Historia</a></li>
    <li><a data-toggle="tab" href="#menu1">Servicios</a></li>
    <li><a data-toggle="tab" href="#menu2">Eventos</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">

            <h2>Historia</h2>
           <p>
                El 9 de mayo de 1900, el Poder Ejecutivo Nacional creó por decreto una nueva población en el sureste de la isla de Choele Choel. En 1901 se encomendó al ingeniero Eliseo Schieroni la mensura y subdivisión de la isla en lotes rurales de 100 hectáreas, reservando cuatro para pueblo, según ley 817, de 1.876. Finalmente se eligieron las parcelas del actual emplazamiento y recibió el nombre de Pueblo Nuevo de la Colonia Choele Choel.
                A fines de 1930 se comienza una construcción con la intención de poner en funcionamiento las oficinas de la Gobernación del Territorio Nacional del Río Negro, ya que Viedma había sido arrasada por una inundación en 1899 y estaba en duda que siguiera como ciudad capital.
                Confusiones en los envíos de correspondencia dirigida a Choele Choel, motivaron el cambio de denominación. Se le impuso así el nombre de Lamarque, en homenaje al ex juez letrado del territorio de Río Negro, doctor Facundo Lamarque, designación que fue ratificada por decreto Nº 125.126/1 del 20 de julio de 1942. El Doctor Lamarque se había hecho cargo de la nueva sede del Juzgado de Choele Choel tras la mencionada inundación que destruyó Viedma.
            </p>

    </div>
    <div id="menu1" class="tab-pane fade">
        <h3>Servicios</h3>
    
        <div class="container" >
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                        </tr>
                        <tr>
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
      
    </div>
    <div id="menu2" class="tab-pane fade">
        <h3>Eventos</h3>
        <p>Some content in menu 2.</p>
    </div>
</div>