
@{
    ViewBag.Title = "Servicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <article>
        <div class="container">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Tipo</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                    </tr>

                    <tr>
                        <td>#1</td>
                        <td>Hotel</td>
                        <td>Nombre del hotel</td>
                        <td>+ Ver mas</td>
                    </tr>

                    <tr>
                        <td>#1</td>
                        <td>Restaurante</td>
                        <td>Nombre del restaurante</td>
                        <td>+ Ver mas</td>
                    </tr>

                    <tr>
                        <td>#1</td>
                        <td>Turismo1</td>
                        <td>Nombre del turismo1</td>
                        <td>+ Ver mas</td>
                    </tr>
                </table>
            </div>
        </div>
        
        
    </article>
</main>
