
@{
    ViewBag.Title = "Servicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <article class="servtext">
        <h1>Turismo y excursiones de la mano del museo</h1>
        <img src="images/servicios/imgl.gif" alt="" width="125" height="125" />
        <p>
            Los meses más recomendados para realizar las excursiones al campo son: 15 de septiembre al 15 de diciembre y 15 de febrero al 15 de mayo.
            El servicio incluye el traslado de los visitantes desde la localidad de Lamarque hasta los campos que se visitaran, ida y vuelta, además incluye refrigerios.
            El campamento base está ubicado en el campo "El Matuasto" a 110 Km. de la localidad de Lamarque. Para llegar allí se recorren 15000 hectáreas de caminos de ripio y el paisaje predominante es la meseta patagónica, con avistaje de distintas especies de flora y fauna autóctona.
            Se visita "Quebrada del tamarisco", donde se observan vestigios de un antiguo asentamiento aborigen, donde abundan las lascas y herramientas utilizadas por ellos. Dentro de las actividades se proyectan caminatas y localización de distintos estratos pertenecientes a distintas eras y formaciones geológicas y sus fósiles.
            El recorrido por los museos es un atractivo para los turistas ya que brinda la posibilidad de conocer las riquezas de la Patagonia.
            En este sentido el museo se encarga de brindar excursiones que comprenden las localidades de Lamarque y el poblado de Santa Rosa en la Provincia de Río Negro.
        </p>

        <h1>Hoteleria</h1>
        <img src="images/servicios/imgl2.gif" alt="" width="125" height="125" />
        <p>
            El Apart Hotel UETKEN está enmarcado por frutales típicos del valle rionegrino, como cerezos, ciruelos, duraznos, nogales, almendros, así como alamedas y plantaciones de alfalfa surcadas por acequias de agua cristalina.
            La estructura edilicia cuenta con aberturas termo-acústicas que proporcionan al huésped el escenario adecuado para que la estancia sea placentera y el descanso reparador.
            Despierte con el sonido de las aves y viva una linda experiencia rural.
        </p>
        <a href="http://www.uetken.com.ar/index.html" target="_blank">Ir a la pagina oficial &raquo;</a>

        <h1>¿ Quiere contribuir con el progreso de Lamarque?</h1>
        <p>Deje su comentarios:</p>
        <a href="sugerencias.html">Ir a sugerencias &raquo;</a>
    </article>
</section>
