@model Net.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "¿Has olvidado la contraseña?";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control mx-auto d-block", @placeholder = "Correo electrónico" })
    </div>
    <input type="submit" value="Enviar" class="btn btn-outline-success mx-auto d-block" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
