
@{
    ViewBag.Title = "Administración";
}

<div class="list-group mb-5">
    <a href="#" class="list-group-item list-group-item-action bg-danger border border-danger active text-center">
        SERVICIOS
    </a>
    <a class="list-group-item list-group-item-action bg-light" href="~/Servicios/IndexAdmin" target="_blank"><strong>Todos los servicios</strong></a>
    <a class="list-group-item list-group-item-action bg-light" href="~/Servicios/Create" target="_blank"><strong>Nuevo servicio</strong></a>
</div>

<div class="list-group mb-5">
    <a href="#" class="list-group-item list-group-item-action bg-danger border border-danger active text-center">
        MAPA
    </a>
    <a href="~/Mapas/Index" class="list-group-item list-group-item-action bg-light" target="_blank"><strong>Ver ubicaciones</strong></a>
    <a href="~/Mapas/Create" class="list-group-item list-group-item-action bg-light" target="_blank"><strong>Nueva ubicacion</strong></a>
</div>

<div class="list-group mb-5">
    <a href="#" class="list-group-item list-group-item-action bg-danger border border-danger active text-center">
        MENSAJES
    </a>
    <a href="~/Contacto/IndexAdmin" class="list-group-item list-group-item-action bg-light" target="_blank"><strong>Ver todos los mensajes</strong></a>
    <a href="~/Contacto/Create" class="list-group-item list-group-item-action bg-light" target="_blank"><strong>Nuevo mensaje</strong></a>
</div>

<div class="list-group mb-5">
    <a href="#" class="list-group-item list-group-item-action bg-danger border border-danger text-white  text-center">
        USUARIOS
    </a>
    <a href="#" class="list-group-item list-group-item-action bg-light" target="_blank"><strong>Lista de usuarios</strong></a>
    <a href="#" class="list-group-item list-group-item-action bg-light" target="_blank"><strong>Agregar usuario</strong></a>
    <a href="~/Manage/Roles" class="list-group-item list-group-item-action bg-light" target="_blank"><strong>Listado de roles</strong></a>
    <a href="~/Manage/AddRoleToUser" class="list-group-item list-group-item-action bg-light" target="_blank"><strong>Asignar rol</strong></a>
    <a href="~/Manage/CreateRole" class="list-group-item list-group-item-action bg-light" target="_blank"><strong>Nuevo rol</strong></a>
</div>

<div  class="mb-5"><a href="~/Home/Administracion" class="btn btn-outline-danger mx-auto d-block">Subir</a></div>
