
@{
    ViewBag.Title = "Almanaque";
}

<link rel=StyleSheet href="almanaque.css" type="text/css" media=screen> 
<script type="text/javascript" src="~/Scripts/almanaque.js"></script>

<div class="wrapper">
    <div id="calendarContainer"></div>
    <div id="organizerContainer" style="margin-left: 8px;"></div>
</div>