
@{
    ViewBag.Title = "Fiesta Nacional del Tomate";
}

<div class="alert alert-danger" role="alert">
    <h3 class="text-center font-weight-bold">Fiesta Nacional del Tomate y la Producción</h3>
</div>
<div class="text-justify  mb-5">
    <img src="~/Content/Imagenes/Tomate/fiesta-tomate-2.jpg"  class="float-right img-fluid"/>
    <p>Cada año en la segunda semana del mes de marzo, siendo considerada la fiesta más grande de Valle Medio, la <strong>Fiesta del Tomate y la Producción </strong>en la ciudad de Lamarque  hace que esta abra sus puertas y busque integrarse al país y al mundo mostrando como se ha transformado por la excelencia de sus suelos y los beneficios de su clima en un lugar pujante para la producción, no solo tomatera sino para diversos productos fruti-hortícolas para consumo interno y exportación.</p>
    <p>De esta manera saltan a la vista las razones del homenaje y convocatoria a esta Fiesta Nacional, nacida en 1967, como una Fiesta Zonal del Tomate donde con la elección de su reina se enalteció a una región que se puso de pié para valorar y reconocer a sus trabajadores por su esfuerzo y sus largas jornadas sin soles ni lunas que las diferencien en pro de lograr sus cosechas.</p>
    <p>En los años cincuenta, la estructura productiva del Valle Medio se mantuvo sin grandes modificaciones, con un marcado predominio en el cultivo del tomate principalmente en Lamarque y Luis Beltrán afianzándose en las décadas siguientes para configurarse como la matriz socio-productiva de nuestra localidad.</p>
    <img src="~/Content/Imagenes/Tomate/cosecha.jpg" class="float-left img-fluid padding" style="width:300px;"/>
    <p>Por estos años comienzan a tener importancia creciente los frutales-manzanas, peras, duraznos, ciruelas- y en menor medida la producción de vid y alfalfa. En cuanto al sector pecuario, el rubro más importante era la cria de ganado vacuno y ovino para la producción de lana, hacia la década del setenta más del 80% del valor bruto de la producción agropecuaria era de origen agrícola. Por otra parte, en 1972 esta exitosa fiesta se trasformó en Fiesta Provincial mediante un Decreto Provincial 936/72.</p>
    <p>A partir de mediados de 1990 y en el marco del proceso de reestructuración productiva, la industria tomatera tuvo un nuevo impulso. Esta inyección de capital representó la posibilidad de una reactivación de las tierras bajo riego y de una fuente laboral directa e indirecta debido al uso intensivo de la mano de obra.</p>
    <p>La expansión territorial de la actividad orientada al mercado externo fue protagonizada por empresas de capital regional, nacional y extranjera, ampliando la escala productiva aumentando la rentabilidad económica, estos cambios determinaron la legitimidad para que en el año 1994 por Decreto del Gobierno Nacional se denominó <strong>Fiesta Nacional del Tomate y la Producción</strong>.</p>
    <img src="~/Content/Imagenes/Tomate/fiesta-tomate-1.jpg" class="mx-auto d-block img-fluid" />
    <p>Así la Fiesta del Tomate y la Producción se convirtió en un acontecimiento de características socio-culturales que moviliza a más de 60 mil personas cada año que combina temas relacionados con la agricultura, la producción, la industria, con las diferentes formas de expresión artístico-cultural y el turismo.</p>
    <p>Durante los tres días de la fiesta los asistentes pueden disfrutar de actividades muy variadas, entre las que se destaca la tradicional “tomatina”. La misma consiste en una guerra de tomates que convoca a cientos de participantes de todas las edades.</p>
    <p>También se realizan concursos de salseada y de embaladores, se puede pasear por la feria de artesanos y apreciar los espectáculos musicales, la elección de la reina y los fuegos artificiales.</p>
    <p>Cada edición cuenta, además, con la presencia de destacados artistas reconocidos a nivel nacional y regional para el deleite y disfrute de los presentes.</p>
    <p>La edición 2017 de la Fiesta Nacional del Tomate y la Producción tuvo lugar del 16 al 19 de marzo. Cuatro días en los que los habitantes de Lamarque y quienes se acercan a visitar pueden disfrutar de la tradicional tomatina, un paseo de artesanos, espectáculos artísticos, un tradicional desfile y cierre con fuegos artificiales.</p>
    <p>Entre los artistas que se presentaron en esta edición estuvieron Coti, Rata Blanca, La Banda al Rojo Vivo, La nueva luna y Coki Ramirez.</p>

    <h5>Fuente: <a href="http://fiestanacionaldeltomate.blogspot.com.ar/?view=magazine" target="_blank">fiestanacionaldeltomate.blogspot.com.ar</a></h5>
    <div class="d-inline-flex p-2">
        <a class="btn btn-block btn-social btn-facebook" href="https://www.facebook.com/FiestanacionaldelTomateylaprod" target="_blank"><span class="fa fa-facebook"></span>Fiesta Nacional del Tomate y la Producción</a>   
    </div>
</div>
<div class="mb-5"><a href="~/Home/Fiesta_tomate" class="btn btn-outline-danger mx-auto d-block">Subir</a></div>

