
@{
    ViewBag.Title = "Museo";
}
<div class="alert alert-info" role="alert">
    <h3 class="text-center font-weight-bold">Museo paleontologico</h3>
</div>
<div class="text-justify">
    <img src="~/Content/Imagenes/Historia/imgl.gif" alt="" width="200" height="125" class="img-fluid float-right  padding" />
    <p>El Museo de Lamarque es muy importante a nivel paleontológico, su grupo de trabajadores ha realizado hallazgos muy importantes y una de sus piezas es expuesta en un museo de Alemania.</p>
    <p>El Museo de Lamarque comienza con un proyecto de un grupo de vecinos, hace más de 20 años. La intención era la de generar un espacio abierto a la comunidad.</p>
    <p>En la actualidad el museo cuenta con una importante colección de fósiles y está participando con uno de sus ejemplares en la Mega Exposición “Dinosaurios – Gigantes de Argentina” en el Museo Lokschuppen de la Ciudad de Rosenheim en Alemania.</p>
    <p>Especies Únicas en el Mundo</p>
    <p>El equipo del Museo ha realizado hallazgos de especies desconocidas, gracias a esto comenzó a tener trascendencia pública. Estos fósiles empiezan a ser investigados por un equipo especializado del Museo de La Plata que los describe y los ubica en contexto de la paleontología argentina y mundial.</p>
    <p>La Patagonia es un territorio en e que se han realizado varios hallazgos paleontológicos que se pueden ver en museos de la región, confirmando así, la diversidad y el valor de los yacimientos.</p>
    <p>El recorrido por los museos es un atractivo para los turistas ya que brinda la posibilidad de conocer las riquezas de la Patagonia.</p>
    <p>En este sentido el museo se encarga de brindar excursiones que comprenden las localidades de Lamarque y el poblado de Santa Rosa en la Provincia de Río Negro.</p>
</div>

