
@{
    ViewBag.Title = "Panel de control";
}


<h2 class="titulo"><i class="glyphicon glyphicon-wrench"></i> Panel de control</h2>

<div class="col-md-4">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">

                        <i class="glyphicon glyphicon-calendar"></i> Calendario

                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panel">
                        <ul class="nav nav-pills nav-stacked"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">

                        <i class="glyphicon glyphicon-camera"></i> Servicios

                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panel">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="~/Servicios/IndexAdmin">Lista</a></li>
                            <li><a href="~/Servicios/Create">Agregar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">

                        <i class="glyphicon glyphicon-phone-alt"></i> Telefonos utiles

                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panel">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="~/Telefonos/IndexAdmin">Lista</a></li>
                            <li><a href="~/Telefonos/Create">Agregar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">

                        <i class="glyphicon glyphicon-envelope"></i> Mensajes

                    </a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panel">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="~/Contacto/IndexAdmin">Lista</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">

                        <i class="glyphicon glyphicon-user"></i> Roles

                    </a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panel">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="~/Manage/Roles">Lista</a></li>
                            <li><a href="~/Manage/CreateRole">Crear</a></li>
                            <li><a href="~/Manage/AddRoleToUser">Asignar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>