.navbar-inverse {
    background: #424242 !important;
    border-radius: 0 !important;
    /*Sombra*/
    -webkit-box-shadow: 0px 7px 5px -1px rgba(0,0,0,0.12) !important;
    -moz-box-shadow: 0px 7px 5px -1px rgba(0,0,0,0.12) !important;
    box-shadow: 0px 7px 5px -1px rgba(0,0,0,0.12) !important;
}
#logo {
    color: #40CCDC;
    font-size: 2em;
    text-decoration: none;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ECEAE9 !important;
}
/*Imagenes de fondo en los titulos*/
.fondo-servicios {
    background-image: url(/Content/Imagenes/fondo-servicios.jpg);
    color: #ffffff;
    font-size: 1em;
    padding: 5px;
}

    .fondo-servicios h1 {
        margin-left: 20px;
    }

.fondo-mapa {
    background-image: url(/Content/Imagenes/fondo-mapa.jpg);
    color: #ffffff;
    font-size: 1em;
    padding: 5px;
}

    .fondo-mapa h1 {
        margin-left: 20px;
    }

.fondo-historia {
    background-image: url(/Content/Imagenes/fondo-historia.jpeg);
    color: #ffffff;
    font-size: 1em;
    padding: 5px;
}

    .fondo-historia h1 {
        margin-left: 20px;
    }

.fondo-museo {
    background-image: url(/Content/Imagenes/fondo-museo.png);
    color: #ffffff;
    font-size: 1em;
    padding: 5px;
}

    .fondo-museo h1 {
        margin-left: 20px;
    }

.fondo-contacto {
    background-image: url(/Content/Imagenes/fondo-contacto.jpeg);
    color: #ffffff;
    font-size: 1em;
    padding: 5px;
}

    .fondo-contacto h1 {
        margin-left: 20px;
    }

.fondo-eventos {
    background-image: url(/Content/Imagenes/fondo-eventos.jpg);
    color: #ffffff;
    font-size: 1em;
    padding: 5px;
}

    .fondo-eventos h1 {
        margin-left: 20px;
    }

.fondo-inicio {
    background-image: url(/Content/Imagenes/fondo-inicio.jpg);
    color: #ffffff;
    font-size: 1em;
    padding: 5px;
}

    .fondo-inicio h1 {
        margin-left: 20px;
    }

/*Titulo en las imagenes*/
.titulo {
    font-family: 'Raleway', sans-serif;
}
/*---------------------------*/

#pie {
    background-color: #424242;
    height: 500px;
}