@model IEnumerable<Lamarque_ciudad.complain_bd>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <article>
        <p>Usuario:</p>
            <br />
            <br />
            <input type="text" name="usuario" size="15" maxlength="10">
            <br />
            <br />
        <p>Dirección:</p>
            <br />
            <br />
            <input type="text" name="direccion" size="30" maxlength="30" />
            <br />
            <br />
            Fecha:</p>
            <br />
            <br />
            <input type="date">
            <br />
            <br />
            Descripción:</p>
            <br />
            <br />
            <textarea name="descripcion" rows="20" cols="80">Escriba una descripción.</textarea>
            <br />
            <br />
            Foto:
            <br />
            <br />
            <input type="file" />
            <br />
            <br />
            <button>Enviar</button>
            <button>Borrar</button>
    </article>
</main>
