@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div class="nav navbar-nav navbar-right">
        <a class="nav-link active" href="~/Home/Administracion">Administracion</a>
        @Html.ActionLink("Perfil" , "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link active" })
        <!--Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })-->
        <a class="nav-link active" href="javascript:document.getElementById('logoutForm').submit()">Salir</a>
    </div>
    }
}
else
{
    <div class="nav navbar-nav navbar-right">
        @Html.ActionLink("Ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link active" })
        @Html.ActionLink("Registro", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link active" })
    </div>
}
