@import url('https://fonts.googleapis.com/css?family=Lobster');

.fondo {
    margin: auto;
    height: 300px;
}

.lamarque {
    text-align: center;
    color: #9DA4A1;
    font-size: 8em;
    font-family: 'Lobster', cursive;
}
