@model IEnumerable<Lamarque_ciudad.sug>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <article>
        <div class="container">
            <br />
            <div class="row">
                <div class="cold-md-4">

                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#seccion1" aria-controls="" data-toggle="tab" role="tab">Sugerencias</a></li>
                            <li role="presentation"><a href="#seccion2" aria-controls="" data-toggle="tab" role="tab">Reclamos</a></li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="seccion1">
                                
                            </div>
                            <div role="tabpanel" class="tab-pane" id="seccion2">
                               
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>
</main>