
@{
    ViewBag.Title = "Calendario";
}

<style>
    body {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .scheduler_container {
        width: 100%;
        height: 600px;
        border: 1px solid #aeaeae;
    }
</style>
<h2>Calendario</h2>
<hr />
<div class="scheduler_container">
    @Html.Raw(Model.Render())
</div>
