
@{
    ViewBag.Title = "Calendario";
}

<h2 class="titulo"><i class="glyphicon glyphicon-calendar"> </i> Calendario</h2>

<div class="wrapper">
    <div id="calendarContainer"></div>
    <div id="organizerContainer" style="margin-left: 8px;"></div>
</div>

<script type="text/javascript" src="~/Scripts/almanaque.js"></script>